# dbt packages
dbt-adapters==1.14.8
dbt-common==1.23.0
dbt-core==1.9.4
dbt-duckdb==1.9.4
dbt-extractor==0.6.0
dbt-semantic-interfaces==0.7.4
dbt-snowflake==1.9.4

# core deps
duckdb==1.1.3
pandas==2.2.3
pandasql==0.7.3
PyYAML==6.0.2

# app/UI libs
streamlit>=1.34,<2
plotly>=5.22,<6

# API & integrations
openai>=1.14.0
python-dotenv>=1.0.0

# build helpers
pip>=24.2
setuptools>=69
wheel
